.m2/
.ivy2/
.sbt/
.ssh/
.emacs.d/
logs/
nodes/
.gitconfig
.viminfo
.bash_history
log
*.log
*.tmp
*.old
*.bak
*.jar
*.swp
.owner
terracotta/
updates/
fingerprints/
config-history/
# Only get the config.xml from any Jobs directory
jobs/*/builds
jobs/*/modules
jobs/*/htmlreports
jobs/*/last*
jobs/*/next*
jobs/*/*.csv
jobs/*/*.txt
jobs/*/*.log
jobs/*/workspace
jobs/*/modules
# Process jobs that exist in folders
jobs/**/jobs/*/builds
jobs/**/jobs/*/modules
jobs/**/jobs/*/htmlreports
jobs/**/jobs/*/last*
jobs/**/jobs/*/next*
jobs/**/jobs/*/*.csv
jobs/**/jobs/*/*.txt
jobs/**/jobs/*/*.log
jobs/**/jobs/*/workspace
jobs/**/jobs/*/modules
# More files
war
workspace
secrets
users
secret.key*
identity.key
plugins
plugins.txt
# Contains local info and secrets; don’t want this in Git
jenkins.model.JenkinsLocationConfiguration.xml
jenkins.mvn.GlobalMavenConfig.xml
credentials.xml
hudson.scm.CVSSCM.xml