# Ignore everything except .gitignore and build.gradle
*
!.gitignore
!build.gradle

# Take Jenkins home folder and ignore its content except config.xml
!jenkins_home
jenkins_home/*
!jenkins_home/config.xml

# Keeping the Maven and Node installations Global Tool Configurations
!jenkins_home/hudson.tasks.Maven.xml
!jenkins_home/jenkins.plugins.nodejs.tools.NodeJSInstallation.xml

# Keeping custom security.groovy
!jenkins_home/init.groovy.d
!jenkins_home/init.groovy.d/security.groovy

# Take the jobs folder, ignore its content except folders
# Ignore their content except config.xml
!jenkins_home/jobs
jenkins_home/jobs/*
!jenkins_home/jobs/*/
!jenkins_home/jobs/*/config.xml

# Take the users folder, ignore its content except folders
# Ignore their content except config.xml
!jenkins_home/users
jenkins_home/users/*
!jenkins_home/users/*/
!jenkins_home/users/*/config.xml